<a href="https://colab.research.google.com/github/PeriBerba/Linear-Algebra-LAB-activity/blob/main/LinAlg_BERBA_PERI_JULIAN_Midterms.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>Linear Algebra (CpE210A)

<h3>Midterms Project

Coded and submitted by:<br>
<i>Berba, Peri Julian L.<br>
    201911370 <br>
   58051 </i>

Directions
This Jupyter Notebook will serve as your base code for your Midterm Project. You must further format and provide complete discussion on the given topic. 
- Provide all necessary explanations for specific code blocks. 
- Provide illustrations for key results.
- Observe clean code (intuitive variable names, proper commenting, proper code spacing)
- Provide a summary discussion at the end

Failure to use this format or failure to update the document will be given a deduction equivalent to 50% of the original score.

### Case

Bebang is back to consult you about her business. Furthering her data analytics initiative she asks you for help to compute some relevant data. Now she is asking you to compute and visualize her sales and costs for the past year. She has given you the datasets attached to her request.

### Problem

Using the data sets provided to build two functions that calculate Bebang's monthly sales and flavorÂ sales over the last year, and Sales and expenses for the past years of the Bebang market must be calculated and visualized in the deliverables.

# Proof of Concept

Now that you have a grasp on the requirements we need to start with making a program to prove that her problem is solvable. As a Linear Algebra student, we will be focusin on applying vector operations to meet her needs. First, we need to import her data. We will use the `pandas` library for this. For more information you can look into their documentation [here](https://pandas.pydata.org/).

In [ ]:
import pandas as pd

file_prices = "bebang prices.csv"
file_sales = "bebang sales.csv"

df_prices = pd.read_csv(file_prices, index_col=0)
df_sales = pd.read_csv(file_sales)


## Let's check what's in df_prices
df_prices

                 red velvet  oreo  ...  choco mint  choco butter naught
price per piece          35    25  ...          45                   45
cost per piece           25    15  ...          32                   31

[2 rows x 12 columns]

In [ ]:
## Let's check the sales dataframe
df_sales

                  flavor  january  february  ...  october  november  december
0             red velvet      781       524  ...       78       231       899
1                   oreo      210       324  ...        6       312       548
2           sugar glazed      599       674  ...       98       781      1602
3           almond honey      124       112  ...       36       300       566
4                 matcha      645       498  ...       71       549       897
5       strawberry cream      210       372  ...       41       207       456
6       brown sugar boba      981       380  ...       36       552       633
7        furits and nuts      478       462  ...        8       335       214
8         dark chocolate      598       203  ...        0       789       458
9   chocolate and orange      324       123  ...      100       632       231
10            choco mint      458       412  ...        1       323       564
11   choco butter naught      778       586  ...       99       784      2310

[12 rows x 13 columns]

## Part 1: Monthly Sales

In [ ]:
import numpy as np
### Vectorizing the data

sales_mat = np.array(df_sales.set_index('flavor'))
prices_mat = np.array(df_prices)[0] ## reshape this vector to the appropriate size
costs_mat = np.array(df_prices)[1] ## reshape this vector to the appropriate size


## Do not alter these lines
print(sales_mat.shape)
print(prices_mat.shape)
print(costs_mat.shape)
# Expected Output
# (12, 12)
# (12, 1)
# (12, 1)

(12, 12)
(12,)
(12,)

#### Formulas

Take note that the fomula for revenue is: <br>
$revenue = sales * price $ <br>
In this case, think that revenue, sales, and price are vectors instead of individual values <br>
The formula of cost per item sold is: <br>
$cost_{sold} = sales * cost$ <br>
The formula for profit is: <br>
$profit = revenue - cost_{sold}$ <br>
Solving for the monthly profit will be the sum of all profits made on that month.

In [ ]:
#Create a function that *returns* and prints the monthly sales and profit for each month 
def monthly_sales(price, cost, sales):
    monthly_revenue = sum(sales_mat * prices_mat) # Compute for monthly revenue
    monthly_costs = sum(sales_mat * costs_mat) # Compute for monthly cost
    monthly_profits = monthly_revenue - monthly_costs  #C ompute for monthly profit
    return monthly_revenue.flatten(), monthly_costs.flatten(), monthly_profits.flatten()

In [ ]:
### Do not alter this cell
month_rev, month_cost, month_profit = monthly_sales(prices_mat, costs_mat, sales_mat)
### print the values
print('Monthly Revenue: \n',month_rev,'\nMonthly Cost: \n',month_cost,'\nMonthly Profit: \n',month_profit)

Monthly Revenue:
 [216510 116750  84900  26985 208850  17360  18760  19035  12090  22960
 260775 422010]
Monthly Cost:
 [154650  70050  42450  15420 146195  13454  14070  10575   6045  14350
 185440 290718]
Monthly Profit:
 [ 61860  46700  42450  11565  62655   3906   4690   8460   6045   8610
  75335 131292]

## Part 2: Flavor Sales

In [ ]:
def flavor_sales(price, cost, sales):
    
    flavor_revenue = (sales_mat @ prices_mat)
    flavor_costs = (sales_mat @ costs_mat)
    flavor_profits = flavor_revenue - flavor_costs  
    
    return flavor_profits.flatten()

In [ ]:
### Do not alter this cell
flavor_profit = flavor_sales(prices_mat, costs_mat, sales_mat)
### print the values
print('The Yearly profit of each flavor:\n',flavor_profit)

The Yearly profit of each flavor:
 [51773 22977 65683 20772 48787 24749 36263 22506 38520 23036 24213 84289]

In [ ]:
### identify the best-selling and least-selling flavors. You can use np.sort() or np.argmax() for this.
flavors = df_sales['flavor'] # Assigning the variable for the flavors
Yearly_Sales= df_sales.sum(axis = 1) # Sums all of the sales in a year for each flavor
Yearly_Sales.name = 'Sales' # Assigns a name to the summation

# Sorts the ranking of the flavor from highest to lowest by its Sales
Flavor_ranking = flavors.to_frame().join(Yearly_Sales).sort_values(by=['Sales'], ascending = False)

best_3_flavors = Flavor_ranking['flavor'].head(3).tolist() # Get the Best-Selling flavors
least_3_flavors = Flavor_ranking['flavor'].tail(3).tolist() # Get the Least-Selling flavors

# Printing of the flavors
print('The Best-Selling flavors are:\n',best_3_flavors[0:3],'\n') 
print('The Least-Selling flavors are:\n',least_3_flavors[0:3],'\n')

The Best-Selling flavors are:
 ['choco butter naught', 'sugar glazed', 'red velvet']

The Least-Selling flavors are:
 ['oreo', 'chocolate and orange', 'almond honey']

## Part 3: Visualizing the Data (Optional for +40%)
You can try to visualize the data in the most comprehensible chart that you can use.

In [ ]:
import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns

%matplotlib inline

#### Entire Dataset

#### Monthly Sales

#### Flavor Sales

## Part 4: Business Recommendation and Conclusion
Present the findings of your data analysis and provide recommendations

**FINDINGS**

  The details in the first diagram indicate the expense and price of each flavor in Bebang's shop. In the first quarter of the year, the highest benefit can be seen. Profit decreased steadily in the second and third quarters. As seen in the chart, flavor matcha is the highest in price and cost whereas sugar-glazed matcha is the lowest. For each month within the year, the following six charts reflect comprehensive sales. The eighth diagram is the annual sales, the list of every month's sales. December is the most lucrative month, and September is the least profitable.
  


**RECOMMENDATIONS**

For Bebang, my advice is for her to reduce flavor stocks with poor revenue and benefit and to gradually remove them if they do not do well in the next months. She also could twist other flavors and launch new promotional campaigns to boost sales further.